// vim:ft=css
@import "./_reset";

html {
	height: 100%;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background-color: #FFFFFF;
	color: #000000;
	height: 100%;
/*	overflow: hidden; */
}

.container {
	width: 800px;
}


#login, #loggedin {
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

table {
	height: 178px;
	width: 500px;
	font-size: 12pt;
	line-height: 12pt;
}

table td {
	border: 1px solid #000000;
	border-collapse: collapse;
	padding: 10px;
	vertical-align: middle;
	text-align: left;
}
table th {
	border: 1px solid #000000;
	border-collapse: collapse;
	padding: 10px;
	vertical-align: middle;
	text-align: center;
	background-color: #DDDDDD;
}

.artwork {
	max-height: 180px;
	max-width: 180px;
	border: 1px solid #000000;
}

#currently-playing {
	padding: 10px;
}

#comment-textarea {
	width: 700px;
	height: 100px;
}

p {
	font-size: 12pt;
}

#track-style {
	border: 1px solid #000000;
	padding: 20px;
	font-weight: bold;
	// margin: 10px 0 30px 30px;
	margin: 20px 0 10px 0;
	width: 700px;
}

#admin {
	margin: 50px 0 0 0;
}
#append-tag {
	width: 400px;
}
#mstdn-instance {
	width: 200px;
}

.mstdn-instances {
	cursor: pointer;
}
